-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th.hilight %a{ :href="", :title="Order by Movie Title" } Movie Title test
      %th %a{ :href="", :title="Order by Movie Title" } Rating
      %th %a{ :href="", :title="Order by Movie Title" } Release Date
      %th %a{ :href="", :title="Order by Movie Title" } More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
